# -------------------------------
# Visual Studio / IDE
# -------------------------------
.vs/
*.sln
*.suo
*.vcxproj*
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# -------------------------------
# OS・エディタ系
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# コンパイル生成物（全般）
# -------------------------------
*.obj
*.o
*.lo
*.slo
*.lib
*.a
*.lai
*.la
*.dll
*.so
*.dylib
*.exe
*.out
*.app
*.ipa
*.mod
*.gch
*.pch

# -------------------------------
# Unreal Engine ビルド生成物
# -------------------------------
Binaries/
Build/
Intermediate/
DerivedDataCache/
Saved/

# -------------------------------
# 一部例外ファイル（Pakリストなど）
!Build/**/
!Build/**/PakBlacklist*.txt
!Build/**/*.ico

# -------------------------------
# アセットビルド関連
# -------------------------------
*_BuiltData.uasset

# -------------------------------
# ソースアート（元画像など）
# -------------------------------
SourceArt/**/*.png
SourceArt/**/*.tga
